.ProjectCard {
  display: flex;
  border: 0.1rem solid;
  border-radius: 10px;
  background-color: #f3dfdf;
  padding: 1rem;
  margin: 1rem 0;
}

.CardMobile {
  padding: 0.3rem;
  flex-direction: column;
  margin: 1rem 0.5rem;
}

.CardStandard {
  max-width: 80vw;
  justify-content: space-around;
}

.ProjectImage {
  flex-basis: 45%;
}

.ProjectImage img {
  max-width: 100%;
}

.ProjectDescription {
  flex-basis: 45%;
}

.DescriptionBody {
  font-size: 1rem;
  text-align: left;
}
