.BioPage {
  margin-bottom: 1rem;
}

.Bio {
  margin-bottom: 1rem;
}

.SocialLinks {
  margin-bottom: 1rem;
}

.BioContainer {
  display: flex;
  border: solid 0.1rem;
  max-width: 70vw;
  padding: 1rem;
  background-color: #f3dfdf;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.ContainerMobile {
  flex-direction: column;
  max-width: 90vw;
  padding: 0.5rem;
}

.ContainerTablet {
  max-width: 90vw;
  padding: 1rem;
  justify-content: space-around;
}

.ContainerStandard {
  justify-content: space-around;
}

.BioText {
  text-align: left;
  font-size: 1.2rem;
  flex-basis: 50%;
}

.BioImg {
  flex-basis: 40%;
}

.ContainerStandard .BioImg img,
.ContainerTablet .BioImg img {
  max-width: 100%;
}

.ContainerMobile .BioImg img {
  max-width: 70%;
}

.BioImg img {
  height: auto;
}

.SocialLinks a {
  color: inherit;
  margin-right: 0.5rem;
}

.SocialLinks a:hover {
  color: blue;
}
