.Bio {
  margin-bottom: 1rem;
}

.BioContainer {
  display: flex;
  border: solid 0.1rem;
  max-width: 70vw;
  padding: 1rem;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.BioContainerTablet {
  display: flex;
  border: solid 0.1rem;
  max-width: 90vw;
  padding: 1rem;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.BioContainerMobile {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  padding: 0.5rem;
  border: solid 0.1rem;
  margin-bottom: 1rem;
}

.BioText {
  text-align: left;
  font-size: 1.2rem;
  flex-basis: 50%;
}

.BioImg {
  flex-basis: 40%;
}

.BioContainer .BioImg img,
.BioContainerTablet .BioImg img {
  max-width: 100%;
}

.BioContainerMobile .BioImg img {
  max-width: 70%;
}

.BioImg img {
  height: auto;
}
